
<h1><center>Pandas Time Series Analysis --> Handling Holidays</center></h1>

In [1]:
import pandas as pd
df = pd.read_csv("AAPL_no_dates.csv")
df.head(10)

         Open        High         Low       Close   Adj Close    Volume
0  317.750000  322.350006  317.209991  321.850006  321.270752  20197800
1  320.750000  323.440002  318.929993  323.339996  322.758057  21910700
2  324.660004  326.200012  322.299988  325.119995  324.534851  26122800
3  324.390015  325.619995  320.779999  322.320007  321.739899  21890100
4  323.350006  331.750000  323.230011  331.500000  330.903381  34312600
5  330.250000  333.600006  327.320007  333.459991  332.859833  23913600
6  332.140015  345.609985  332.010010  343.989990  343.370880  36928100
7  347.899994  354.769989  346.089996  352.839996  352.204956  41662900
8  349.309998  351.059998  335.480011  335.899994  335.295441  50415600
9  344.720001  347.799988  334.220001  338.799988  338.190216  50001500

In [2]:
rng = pd.date_range(start="6/1/2020", end="6/30/2020", freq='B')
rng

DatetimeIndex(['2020-06-01', '2020-06-02', '2020-06-03', '2020-06-04',
               '2020-06-05', '2020-06-08', '2020-06-09', '2020-06-10',
               '2020-06-11', '2020-06-12', '2020-06-15', '2020-06-16',
               '2020-06-17', '2020-06-18', '2020-06-19', '2020-06-22',
               '2020-06-23', '2020-06-24', '2020-06-25', '2020-06-26',
               '2020-06-29', '2020-06-30'],
              dtype='datetime64[ns]', freq='B')

In [3]:
# i wanr exclude all the holidays in US
from pandas.tseries.holiday import USFederalHolidayCalendar
from pandas.tseries.offsets import CustomBusinessDay

us_cal = CustomBusinessDay(calendar=USFederalHolidayCalendar())
us_cal

In [4]:
rng = pd.date_range(start="6/1/2020", end="6/30/2020", freq=us_cal)
rng

DatetimeIndex(['2020-06-01', '2020-06-02', '2020-06-03', '2020-06-04',
               '2020-06-05', '2020-06-08', '2020-06-09', '2020-06-10',
               '2020-06-11', '2020-06-12', '2020-06-15', '2020-06-16',
               '2020-06-17', '2020-06-18', '2020-06-19', '2020-06-22',
               '2020-06-23', '2020-06-24', '2020-06-25', '2020-06-26',
               '2020-06-29', '2020-06-30'],
              dtype='datetime64[ns]', freq='C')

In [18]:
df.set_index(rng,inplace=True)
df

,Open,High,Low,Close,Adj Close,Volume
2020-06-01,317.750000,322.350006,317.209991,321.850006,321.270752,20197800
2020-06-02,320.750000,323.440002,318.929993,323.339996,322.758057,21910700
2020-06-03,324.660004,326.200012,322.299988,325.119995,324.534851,26122800
2020-06-04,324.390015,325.619995,320.779999,322.320007,321.739899,21890100
2020-06-05,323.350006,331.750000,323.230011,331.500000,330.903381,34312600
2020-06-08,330.250000,333.600006,327.320007,333.459991,332.859833,23913600
2020-06-09,332.140015,345.609985,332.010010,343.989990,343.370880,36928100
2020-06-10,347.899994,354.769989,346.089996,352.839996,352.204956,41662900
2020-06-11,349.309998,351.059998,335.480011,335.899994,335.295441,50415600
2020-06-12,344.720001,347.799988,334.220001,338.799988,338.190216,50001500
2020-06-15,333.250000,345.679993,332.579987,342.989990,342.372681,34702200
2020-06-16,351.459991,353.200012,344.720001,352.079987,351.446320,41357200
2020-06-17,355.149994,355.399994,351.089996,351.589996,350.957214,28532000
2020-06-18,351.410004,353.450012,349.220001,351.730011,351.096985,24205100
2020-06-19,354.640015,356.559998,345.149994,349.720001,349.090576,66119000
2020-06-22,351.339996,359.459991,351.149994,358.869995,358.224121,33861300
2020-06-23,364.000000,372.380005,362.269989,366.529999,365.870331,53038900
2020-06-24,365.000000,368.790009,358.519989,360.059998,359.411987,48155800
2020-06-25,360.700012,365.000000,357.570007,364.839996,364.183380,34380600
2020-06-26,364.410004,365.320007,353.019989,353.630005,352.993561,51314200
2020-06-29,353.250000,362.170013,351.279999,361.779999,361.128876,32661500
2020-06-30,360.079987,365.980011,360.000000,364.799988,364.143433,35055800

In [12]:

df1 = pd.read_csv("apple_june.csv")
df1

,Date,Open,High,Low,Close,Adj Close,Volume
0,2017-07-03,144.880005,145.300003,143.100006,143.500000,137.295715,14277800
1,2017-07-05,143.690002,144.789993,142.720001,144.089996,137.860229,21569600
2,2017-07-06,143.020004,143.500000,142.410004,142.729996,136.559036,24128800
3,2017-07-07,142.899994,144.750000,142.899994,144.179993,137.946335,19201700
4,2017-07-10,144.110001,145.949997,143.369995,145.059998,138.788269,21090600
5,2017-07-11,144.729996,145.850006,144.380005,145.529999,139.237961,19781800
6,2017-07-12,145.869995,146.179993,144.820007,145.740005,139.438904,24884500
7,2017-07-13,145.500000,148.490005,145.440002,147.770004,141.381149,25199400
8,2017-07-14,147.970001,149.330002,147.330002,149.039993,142.596207,20132100
9,2017-07-17,148.820007,150.899994,148.570007,149.559998,143.093735,23793500
10,2017-07-18,149.199997,150.130005,148.669998,150.080002,143.591248,17868800
11,2017-07-19,150.479996,151.419998,149.949997,151.020004,144.490616,20923000
12,2017-07-20,151.500000,151.740005,150.190002,150.339996,143.839996,17243700
13,2017-07-21,149.990005,150.440002,148.880005,150.270004,143.773026,26252600
14,2017-07-24,150.580002,152.440002,149.899994,152.089996,145.514374,21493200
15,2017-07-25,151.800003,153.839996,151.800003,152.740005,146.136246,18853900
16,2017-07-26,153.350006,153.929993,153.059998,153.460007,146.825134,15781000
17,2017-07-27,153.750000,153.990005,147.300003,150.559998,144.050507,32476300
18,2017-07-28,149.889999,150.229996,149.190002,149.500000,143.036331,17213700
19,2017-07-31,149.899994,150.330002,148.130005,148.729996,142.299622,19845900

In [14]:
rnge = pd.date_range(start="7/1/2017", end="7/31/2017", freq='B')
rnge

DatetimeIndex(['2017-07-03', '2017-07-04', '2017-07-05', '2017-07-06',
               '2017-07-07', '2017-07-10', '2017-07-11', '2017-07-12',
               '2017-07-13', '2017-07-14', '2017-07-17', '2017-07-18',
               '2017-07-19', '2017-07-20', '2017-07-21', '2017-07-24',
               '2017-07-25', '2017-07-26', '2017-07-27', '2017-07-28',
               '2017-07-31'],
              dtype='datetime64[ns]', freq='B')


<h3>Using 'B' frequency is not going to help because 4th July was holiday and 'B' is not taking that into account. It only accounts for weekends<br>

Using CustomBusinessDay to generate US holidays calendar frequency</h3>

In [16]:
from pandas.tseries.holiday import USFederalHolidayCalendar
from pandas.tseries.offsets import CustomBusinessDay

us_cal = CustomBusinessDay(calendar=USFederalHolidayCalendar())

rng = pd.date_range(start="7/1/2017",end="7/31/2017", freq=us_cal)
rng

DatetimeIndex(['2017-07-03', '2017-07-05', '2017-07-06', '2017-07-07',
               '2017-07-10', '2017-07-11', '2017-07-12', '2017-07-13',
               '2017-07-14', '2017-07-17', '2017-07-18', '2017-07-19',
               '2017-07-20', '2017-07-21', '2017-07-24', '2017-07-25',
               '2017-07-26', '2017-07-27', '2017-07-28', '2017-07-31'],
              dtype='datetime64[ns]', freq='C')

In [18]:
df1.set_index(rng,inplace=True)
df1

,Date,Open,High,Low,Close,Adj Close,Volume
2017-07-03,2017-07-03,144.880005,145.300003,143.100006,143.500000,137.295715,14277800
2017-07-05,2017-07-05,143.690002,144.789993,142.720001,144.089996,137.860229,21569600
2017-07-06,2017-07-06,143.020004,143.500000,142.410004,142.729996,136.559036,24128800
2017-07-07,2017-07-07,142.899994,144.750000,142.899994,144.179993,137.946335,19201700
2017-07-10,2017-07-10,144.110001,145.949997,143.369995,145.059998,138.788269,21090600
2017-07-11,2017-07-11,144.729996,145.850006,144.380005,145.529999,139.237961,19781800
2017-07-12,2017-07-12,145.869995,146.179993,144.820007,145.740005,139.438904,24884500
2017-07-13,2017-07-13,145.500000,148.490005,145.440002,147.770004,141.381149,25199400
2017-07-14,2017-07-14,147.970001,149.330002,147.330002,149.039993,142.596207,20132100
2017-07-17,2017-07-17,148.820007,150.899994,148.570007,149.559998,143.093735,23793500
2017-07-18,2017-07-18,149.199997,150.130005,148.669998,150.080002,143.591248,17868800
2017-07-19,2017-07-19,150.479996,151.419998,149.949997,151.020004,144.490616,20923000
2017-07-20,2017-07-20,151.500000,151.740005,150.190002,150.339996,143.839996,17243700
2017-07-21,2017-07-21,149.990005,150.440002,148.880005,150.270004,143.773026,26252600
2017-07-24,2017-07-24,150.580002,152.440002,149.899994,152.089996,145.514374,21493200
2017-07-25,2017-07-25,151.800003,153.839996,151.800003,152.740005,146.136246,18853900
2017-07-26,2017-07-26,153.350006,153.929993,153.059998,153.460007,146.825134,15781000
2017-07-27,2017-07-27,153.750000,153.990005,147.300003,150.559998,144.050507,32476300
2017-07-28,2017-07-28,149.889999,150.229996,149.190002,149.500000,143.036331,17213700
2017-07-31,2017-07-31,149.899994,150.330002,148.130005,148.729996,142.299622,19845900


<h4>You can define your own calendar using AbstractHolidayCalendar as shown below. USFederalHolidayCalendar is the only calendar available in pandas library and it serves as an example for those who want to write their own custom calendars.<h4><br> Here is the link for USFederalHolidayCalendar implementation <a href="https://github.com/pandas-dev/pandas/blob/master/pandas/tseries/holiday.py"> Click it </a>

<h1>AbstractHolidayCalendar</h1>

In [19]:
from pandas.tseries.holiday import AbstractHolidayCalendar, nearest_workday, Holiday
class myCalendar(AbstractHolidayCalendar):
    rules = [
        Holiday('My Birth Day', month=4, day=20),#, observance=nearest_workday),
    ]
    
my_bday = CustomBusinessDay(calendar=myCalendar())
pd.date_range('4/1/2017','4/30/2017',freq=my_bday)

DatetimeIndex(['2017-04-03', '2017-04-04', '2017-04-05', '2017-04-06',
               '2017-04-07', '2017-04-10', '2017-04-11', '2017-04-12',
               '2017-04-13', '2017-04-14', '2017-04-17', '2017-04-18',
               '2017-04-19', '2017-04-21', '2017-04-24', '2017-04-25',
               '2017-04-26', '2017-04-27', '2017-04-28'],
              dtype='datetime64[ns]', freq='C')

In [20]:
from pandas.tseries.holiday import AbstractHolidayCalendar, nearest_workday, Holiday
class myCalendar(AbstractHolidayCalendar):
    rules = [
        Holiday('My Birth Day', month=4, day=14 , observance=nearest_workday),
    ]
    
my_bday = CustomBusinessDay(calendar=myCalendar())
pd.date_range('4/1/2017','4/30/2017',freq=my_bday)

DatetimeIndex(['2017-04-03', '2017-04-04', '2017-04-05', '2017-04-06',
               '2017-04-07', '2017-04-10', '2017-04-11', '2017-04-12',
               '2017-04-13', '2017-04-17', '2017-04-18', '2017-04-19',
               '2017-04-20', '2017-04-21', '2017-04-24', '2017-04-25',
               '2017-04-26', '2017-04-27', '2017-04-28'],
              dtype='datetime64[ns]', freq='C')


<h2>CustomBusinessDay<h2>
<h5>Weekend in egypt is Friday and Saturday. Sunday is just a normal weekday and you can handle this custom week schedule using CystomBysinessDay with weekmask as shown below</h5>

In [27]:
bangla_weekdays = "Sun Mon Tue Wed Thu"

b = CustomBusinessDay(weekmask=bangla_weekdays)

pd.date_range(start="8/1/2020", end ="8/30/2020",freq=b)

DatetimeIndex(['2020-08-02', '2020-08-03', '2020-08-04', '2020-08-05',
               '2020-08-06', '2020-08-09', '2020-08-10', '2020-08-11',
               '2020-08-12', '2020-08-13', '2020-08-16', '2020-08-17',
               '2020-08-18', '2020-08-19', '2020-08-20', '2020-08-23',
               '2020-08-24', '2020-08-25', '2020-08-26', '2020-08-27',
               '2020-08-30'],
              dtype='datetime64[ns]', freq='C')

In [22]:
bangla_weekdays = "Sun Mon Tue"   # and remaining days are holidays

b = CustomBusinessDay(weekmask=bangla_weekdays)

pd.date_range(start="8/1/2020", end ="8/30/2020",freq=b)

DatetimeIndex(['2020-08-02', '2020-08-03', '2020-08-04', '2020-08-09',
               '2020-08-10', '2020-08-11', '2020-08-16', '2020-08-17',
               '2020-08-18', '2020-08-23', '2020-08-24', '2020-08-25',
               '2020-08-30'],
              dtype='datetime64[ns]', freq='C')


<h5>You can also add holidays to this custom business day frequency</h5>

In [28]:

b = CustomBusinessDay(holidays=['2020-08-04', '2020-08-10'], weekmask=bangla_weekdays)

pd.date_range(start="8/1/2020", end ="8/30/2020",freq=b)

DatetimeIndex(['2020-08-02', '2020-08-03', '2020-08-05', '2020-08-06',
               '2020-08-09', '2020-08-11', '2020-08-12', '2020-08-13',
               '2020-08-16', '2020-08-17', '2020-08-18', '2020-08-19',
               '2020-08-20', '2020-08-23', '2020-08-24', '2020-08-25',
               '2020-08-26', '2020-08-27', '2020-08-30'],
              dtype='datetime64[ns]', freq='C')