In [1]:
import pandas as pd

data = pd.read_csv("master.csv")
data

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
0,Albania,1987,male,15-24 years,21,312900,6.71,Albania1987,NaN,"2,156,624,900",796,Generation X
1,Albania,1987,male,35-54 years,16,308000,5.19,Albania1987,NaN,"2,156,624,900",796,Silent
2,Albania,1987,female,15-24 years,14,289700,4.83,Albania1987,NaN,"2,156,624,900",796,Generation X
3,Albania,1987,male,75+ years,1,21800,4.59,Albania1987,NaN,"2,156,624,900",796,G.I. Generation
4,Albania,1987,male,25-34 years,9,274300,3.28,Albania1987,NaN,"2,156,624,900",796,Boomers
...,...,...,...,...,...,...,...,...,...,...,...,...
27815,Uzbekistan,2014,female,35-54 years,107,3620833,2.96,Uzbekistan2014,0.675,"63,067,077,179",2309,Generation X
27816,Uzbekistan,2014,female,75+ years,9,348465,2.58,Uzbekistan2014,0.675,"63,067,077,179",2309,Silent
27817,Uzbekistan,2014,male,5-14 years,60,2762158,2.17,Uzbekistan2014,0.675,"63,067,077,179",2309,Generation Z
27818,Uzbekistan,2014,female,5-14 years,44,2631600,1.67,Uzbekistan2014,0.675,"63,067,077,179",2309,Generation Z
27819,Uzbekistan,2014,female,55-74 years,21,1438935,1.46,Uzbekistan2014,0.675,"63,067,077,179",2309,Boomers

In [2]:
data.country

0           Albania
1           Albania
2           Albania
3           Albania
4           Albania
            ...
27815    Uzbekistan
27816    Uzbekistan
27817    Uzbekistan
27818    Uzbekistan
27819    Uzbekistan
Name: country, Length: 27820, dtype: object

In [5]:
data.country.unique()

array(['Albania', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Aruba',
       'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain',
       'Barbados', 'Belarus', 'Belgium', 'Belize',
       'Bosnia and Herzegovina', 'Brazil', 'Bulgaria', 'Cabo Verde',
       'Canada', 'Chile', 'Colombia', 'Costa Rica', 'Croatia', 'Cuba',
       'Cyprus', 'Czech Republic', 'Denmark', 'Dominica', 'Ecuador',
       'El Salvador', 'Estonia', 'Fiji', 'Finland', 'France', 'Georgia',
       'Germany', 'Greece', 'Grenada', 'Guatemala', 'Guyana', 'Hungary',
       'Iceland', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan',
       'Kazakhstan', 'Kiribati', 'Kuwait', 'Kyrgyzstan', 'Latvia',
       'Lithuania', 'Luxembourg', 'Macau', 'Maldives', 'Malta',
       'Mauritius', 'Mexico', 'Mongolia', 'Montenegro', 'Netherlands',
       'New Zealand', 'Nicaragua', 'Norway', 'Oman', 'Panama', 'Paraguay',
       'Philippines', 'Poland', 'Portugal', 'Puerto Rico', 'Qatar',
       'Republic of Korea', 'Romania', 'Russian Federation',
       'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Vincent and Grenadines', 'San Marino', 'Serbia',
       'Seychelles', 'Singapore', 'Slovakia', 'Slovenia', 'South Africa',
       'Spain', 'Sri Lanka', 'Suriname', 'Sweden', 'Switzerland',
       'Thailand', 'Trinidad and Tobago', 'Turkey', 'Turkmenistan',
       'Ukraine', 'United Arab Emirates', 'United Kingdom',
       'United States', 'Uruguay', 'Uzbekistan'], dtype=object)

In [7]:
data.country.unique().size

101

In [8]:
data.country.size

27820

In [9]:
suicide_data = data["suicides_no"]

In [10]:
suicide_data

0         21
1         16
2         14
3          1
4          9
        ...
27815    107
27816      9
27817     60
27818     44
27819     21
Name: suicides_no, Length: 27820, dtype: int64

In [12]:
suicide_data.max()

22338

In [20]:
data.country == "Israel"
type(data.country == "Israel")

pandas.core.series.Series

In [21]:
data [data.country == "Israel"]

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
12416,Israel,1985,male,75+ years,24,66600,36.04,Israel1985,0.768,"27,493,591,484",7325,G.I. Generation
12417,Israel,1985,male,55-74 years,48,249100,19.27,Israel1985,0.768,"27,493,591,484",7325,G.I. Generation
12418,Israel,1985,female,75+ years,10,75500,13.25,Israel1985,0.768,"27,493,591,484",7325,G.I. Generation
12419,Israel,1985,male,35-54 years,41,396400,10.34,Israel1985,0.768,"27,493,591,484",7325,Silent
12420,Israel,1985,female,55-74 years,28,290900,9.63,Israel1985,0.768,"27,493,591,484",7325,G.I. Generation
...,...,...,...,...,...,...,...,...,...,...,...,...
12783,Israel,2015,female,25-34 years,13,581972,2.23,Israel2015,NaN,"299,093,839,690",39793,Millenials
12784,Israel,2015,female,35-54 years,20,967412,2.07,Israel2015,NaN,"299,093,839,690",39793,Generation X
12785,Israel,2015,female,15-24 years,8,617440,1.30,Israel2015,NaN,"299,093,839,690",39793,Millenials
12786,Israel,2015,male,5-14 years,2,770443,0.26,Israel2015,NaN,"299,093,839,690",39793,Generation Z
12787,Israel,2015,female,5-14 years,1,733603,0.14,Israel2015,NaN,"299,093,839,690",39793,Generation Z

In [22]:
type(data [data.country == "Israel"])

pandas.core.frame.DataFrame

In [24]:
data [(data.country == "Israel") &  (data.year == 2014)]

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
12764,Israel,2014,male,75+ years,32,164959,19.40,Israel2014,0.894,"308,416,982,140",41869,Silent
12765,Israel,2014,male,35-54 years,125,925543,13.51,Israel2014,0.894,"308,416,982,140",41869,Generation X
12766,Israel,2014,male,55-74 years,54,577076,9.36,Israel2014,0.894,"308,416,982,140",41869,Boomers
12767,Israel,2014,male,25-34 years,41,580208,7.07,Israel2014,0.894,"308,416,982,140",41869,Millenials
12768,Israel,2014,male,15-24 years,35,633544,5.52,Israel2014,0.894,"308,416,982,140",41869,Millenials
12769,Israel,2014,female,75+ years,11,236381,4.65,Israel2014,0.894,"308,416,982,140",41869,Silent
12770,Israel,2014,female,55-74 years,24,645102,3.72,Israel2014,0.894,"308,416,982,140",41869,Boomers
12771,Israel,2014,female,35-54 years,29,949566,3.05,Israel2014,0.894,"308,416,982,140",41869,Generation X
12772,Israel,2014,female,25-34 years,13,576407,2.26,Israel2014,0.894,"308,416,982,140",41869,Millenials
12773,Israel,2014,female,15-24 years,10,607031,1.65,Israel2014,0.894,"308,416,982,140",41869,Millenials
12774,Israel,2014,male,5-14 years,7,753317,0.93,Israel2014,0.894,"308,416,982,140",41869,Generation Z
12775,Israel,2014,female,5-14 years,1,717118,0.14,Israel2014,0.894,"308,416,982,140",41869,Generation Z

In [29]:
data [(data.country == "Israel") &  (data.year == 2014) & (data.sex == "female")]

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
12769,Israel,2014,female,75+ years,11,236381,4.65,Israel2014,0.894,"308,416,982,140",41869,Silent
12770,Israel,2014,female,55-74 years,24,645102,3.72,Israel2014,0.894,"308,416,982,140",41869,Boomers
12771,Israel,2014,female,35-54 years,29,949566,3.05,Israel2014,0.894,"308,416,982,140",41869,Generation X
12772,Israel,2014,female,25-34 years,13,576407,2.26,Israel2014,0.894,"308,416,982,140",41869,Millenials
12773,Israel,2014,female,15-24 years,10,607031,1.65,Israel2014,0.894,"308,416,982,140",41869,Millenials
12775,Israel,2014,female,5-14 years,1,717118,0.14,Israel2014,0.894,"308,416,982,140",41869,Generation Z

In [30]:
data [(data.country == "Israel") &  (data.year == 2014) & (data.sex == "male")]

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
12764,Israel,2014,male,75+ years,32,164959,19.40,Israel2014,0.894,"308,416,982,140",41869,Silent
12765,Israel,2014,male,35-54 years,125,925543,13.51,Israel2014,0.894,"308,416,982,140",41869,Generation X
12766,Israel,2014,male,55-74 years,54,577076,9.36,Israel2014,0.894,"308,416,982,140",41869,Boomers
12767,Israel,2014,male,25-34 years,41,580208,7.07,Israel2014,0.894,"308,416,982,140",41869,Millenials
12768,Israel,2014,male,15-24 years,35,633544,5.52,Israel2014,0.894,"308,416,982,140",41869,Millenials
12774,Israel,2014,male,5-14 years,7,753317,0.93,Israel2014,0.894,"308,416,982,140",41869,Generation Z

In [31]:
mask1 = data.country == "Israel"
mask2 = data.year == 2014
mask3 = data.sex=="male"
data[mask1 & mask2 & mask3]

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
12764,Israel,2014,male,75+ years,32,164959,19.40,Israel2014,0.894,"308,416,982,140",41869,Silent
12765,Israel,2014,male,35-54 years,125,925543,13.51,Israel2014,0.894,"308,416,982,140",41869,Generation X
12766,Israel,2014,male,55-74 years,54,577076,9.36,Israel2014,0.894,"308,416,982,140",41869,Boomers
12767,Israel,2014,male,25-34 years,41,580208,7.07,Israel2014,0.894,"308,416,982,140",41869,Millenials
12768,Israel,2014,male,15-24 years,35,633544,5.52,Israel2014,0.894,"308,416,982,140",41869,Millenials
12774,Israel,2014,male,5-14 years,7,753317,0.93,Israel2014,0.894,"308,416,982,140",41869,Generation Z

In [35]:
mask1 = data.country == "Israel"
mask2 = data.year == 2014
mask3 = data.sex=="male"
data.loc[mask1 & mask2 & mask3,["country","year","sex","age"]]

      country  year   sex          age
12764  Israel  2014  male    75+ years
12765  Israel  2014  male  35-54 years
12766  Israel  2014  male  55-74 years
12767  Israel  2014  male  25-34 years
12768  Israel  2014  male  15-24 years
12774  Israel  2014  male   5-14 years

In [37]:
data.sum().suicides_no

6748420

In [38]:
data.max().suicides_no

22338

In [40]:
data[data.suicides_no==22338]

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
20996,Russian Federation,1994,male,35-54 years,22338,19044200,117.3,Russian Federation1994,NaN,"395,077,301,248",2853,Boomers

In [55]:
mask1 = data.country == "Israel"
mask2 = data.year == 2014
mask3 = data.sex=="male"
#mask3 = data.sex=="female"
df = data.loc[mask1 & mask2 & mask3,["country","year","sex","age","suicides_no"]]

In [56]:
df.sum().suicides_no

294

In [57]:
type(df)

pandas.core.frame.DataFrame

In [58]:
df.max().suicides_no

125

# Part 2

In [59]:
data.loc[data.year >= 2010]

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
252,Albania,2010,male,55-74 years,20,241852,8.27,Albania2010,0.722,"11,926,953,259",4359,Silent
253,Albania,2010,male,35-54 years,20,371611,5.38,Albania2010,0.722,"11,926,953,259",4359,Generation X
254,Albania,2010,male,25-34 years,9,179720,5.01,Albania2010,0.722,"11,926,953,259",4359,Generation X
255,Albania,2010,male,75+ years,2,50767,3.94,Albania2010,0.722,"11,926,953,259",4359,Silent
256,Albania,2010,male,15-24 years,10,279508,3.58,Albania2010,0.722,"11,926,953,259",4359,Millenials
...,...,...,...,...,...,...,...,...,...,...,...,...
27815,Uzbekistan,2014,female,35-54 years,107,3620833,2.96,Uzbekistan2014,0.675,"63,067,077,179",2309,Generation X
27816,Uzbekistan,2014,female,75+ years,9,348465,2.58,Uzbekistan2014,0.675,"63,067,077,179",2309,Silent
27817,Uzbekistan,2014,male,5-14 years,60,2762158,2.17,Uzbekistan2014,0.675,"63,067,077,179",2309,Generation Z
27818,Uzbekistan,2014,female,5-14 years,44,2631600,1.67,Uzbekistan2014,0.675,"63,067,077,179",2309,Generation Z
27819,Uzbekistan,2014,female,55-74 years,21,1438935,1.46,Uzbekistan2014,0.675,"63,067,077,179",2309,Boomers

In [61]:
#mask = data.year.between(1999,2000)
mask = data.year.between(2000,2010)

data.loc[mask]

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
132,Albania,2000,male,25-34 years,17,232000,7.33,Albania2000,0.656,"3,632,043,908",1299,Generation X
133,Albania,2000,male,55-74 years,10,177400,5.64,Albania2000,0.656,"3,632,043,908",1299,Silent
134,Albania,2000,female,75+ years,2,37800,5.29,Albania2000,0.656,"3,632,043,908",1299,G.I. Generation
135,Albania,2000,male,75+ years,1,24900,4.02,Albania2000,0.656,"3,632,043,908",1299,G.I. Generation
136,Albania,2000,female,15-24 years,6,263900,2.27,Albania2000,0.656,"3,632,043,908",1299,Generation X
...,...,...,...,...,...,...,...,...,...,...,...,...
27767,Uzbekistan,2010,female,35-54 years,101,3339076,3.02,Uzbekistan2010,0.655,"39,332,770,929",1533,Generation X
27768,Uzbekistan,2010,male,5-14 years,48,2751752,1.74,Uzbekistan2010,0.655,"39,332,770,929",1533,Generation Z
27769,Uzbekistan,2010,female,75+ years,5,322899,1.55,Uzbekistan2010,0.655,"39,332,770,929",1533,Silent
27770,Uzbekistan,2010,female,55-74 years,16,1161422,1.38,Uzbekistan2010,0.655,"39,332,770,929",1533,Silent
27771,Uzbekistan,2010,female,5-14 years,30,2627344,1.14,Uzbekistan2010,0.655,"39,332,770,929",1533,Generation Z

In [63]:
data.loc[data.year.isin([2000,2010])]

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
132,Albania,2000,male,25-34 years,17,232000,7.33,Albania2000,0.656,"3,632,043,908",1299,Generation X
133,Albania,2000,male,55-74 years,10,177400,5.64,Albania2000,0.656,"3,632,043,908",1299,Silent
134,Albania,2000,female,75+ years,2,37800,5.29,Albania2000,0.656,"3,632,043,908",1299,G.I. Generation
135,Albania,2000,male,75+ years,1,24900,4.02,Albania2000,0.656,"3,632,043,908",1299,G.I. Generation
136,Albania,2000,female,15-24 years,6,263900,2.27,Albania2000,0.656,"3,632,043,908",1299,Generation X
...,...,...,...,...,...,...,...,...,...,...,...,...
27767,Uzbekistan,2010,female,35-54 years,101,3339076,3.02,Uzbekistan2010,0.655,"39,332,770,929",1533,Generation X
27768,Uzbekistan,2010,male,5-14 years,48,2751752,1.74,Uzbekistan2010,0.655,"39,332,770,929",1533,Generation Z
27769,Uzbekistan,2010,female,75+ years,5,322899,1.55,Uzbekistan2010,0.655,"39,332,770,929",1533,Silent
27770,Uzbekistan,2010,female,55-74 years,16,1161422,1.38,Uzbekistan2010,0.655,"39,332,770,929",1533,Silent
27771,Uzbekistan,2010,female,5-14 years,30,2627344,1.14,Uzbekistan2010,0.655,"39,332,770,929",1533,Generation Z

In [67]:
data.loc[~(data.year.isin([2000,2010]))]     
# without 2000 and 2010

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
0,Albania,1987,male,15-24 years,21,312900,6.71,Albania1987,NaN,"2,156,624,900",796,Generation X
1,Albania,1987,male,35-54 years,16,308000,5.19,Albania1987,NaN,"2,156,624,900",796,Silent
2,Albania,1987,female,15-24 years,14,289700,4.83,Albania1987,NaN,"2,156,624,900",796,Generation X
3,Albania,1987,male,75+ years,1,21800,4.59,Albania1987,NaN,"2,156,624,900",796,G.I. Generation
4,Albania,1987,male,25-34 years,9,274300,3.28,Albania1987,NaN,"2,156,624,900",796,Boomers
...,...,...,...,...,...,...,...,...,...,...,...,...
27815,Uzbekistan,2014,female,35-54 years,107,3620833,2.96,Uzbekistan2014,0.675,"63,067,077,179",2309,Generation X
27816,Uzbekistan,2014,female,75+ years,9,348465,2.58,Uzbekistan2014,0.675,"63,067,077,179",2309,Silent
27817,Uzbekistan,2014,male,5-14 years,60,2762158,2.17,Uzbekistan2014,0.675,"63,067,077,179",2309,Generation Z
27818,Uzbekistan,2014,female,5-14 years,44,2631600,1.67,Uzbekistan2014,0.675,"63,067,077,179",2309,Generation Z
27819,Uzbekistan,2014,female,55-74 years,21,1438935,1.46,Uzbekistan2014,0.675,"63,067,077,179",2309,Boomers

In [68]:
data.loc[~(data.year.isin([2000,2010]))].year.unique()

array([1987, 1988, 1989, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999,
       2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 1985, 1986,
       1990, 1991, 2012, 2013, 2014, 2015, 2011, 2016], dtype=int64)

In [80]:
maski = data.year.between(2010,2016)
maski1 = data.sex =="male"
maski2 = data.country =="Switzerland"
maski3 = data.age =="25-34 years"
data.loc[maski & maski1 & maski2 & maski3,["country","year","sex","age","suicides_no"]]

           country  year   sex          age  suicides_no
24909  Switzerland  2010  male  25-34 years           74
24921  Switzerland  2011  male  25-34 years           81
24934  Switzerland  2012  male  25-34 years           66
24945  Switzerland  2013  male  25-34 years           78
24957  Switzerland  2014  male  25-34 years           68
24969  Switzerland  2015  male  25-34 years           80

In [83]:
f = data.loc[maski & maski1 & maski2 & maski3,["country","year","sex","age","suicides_no"]].sum().suicides_no
f

447

In [86]:
g = data.loc[maski & (data.sex=="female") & maski2 & maski3,["country","year","sex","age","suicides_no"]].sum().suicides_no

In [87]:
g

161

In [89]:
print(f"Male suicide -> {f}\nFemale suicide -> {g}" )

Male suicide -> 447
Female suicide -> 161